header {
    background-color: #964000;
    color: #DE9F3A;
    padding-top: 16px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.content {
    text-align: center;
    background-color: #FDF5E6;
    width: 100%;
    height: 100px;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 40px;
    padding-right: 40px;
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 840px;
    
    margin: 0 auto;
    background-color:#FBF5EE;
}
nav {
    display: flex;
    gap: 24px;
    padding-top: 16px;
}
container {
    width: 1440px;
    height: 72px;
}

.field {
    border: 1px solid #ccc;
    border-radius: 9px;
    padding: 20px;
}

