body {
  background-color: #fef7ee;
}

h1 {
  font-family: "Georgia Pro";
  color: #8b4612;
  text-decoration: underline;
  text-decoration-color: #d6a24e;
  font-size: 48px;
}

h2 {
  text-align: center;
  color: #8b4612;
  font-size: 36px;
  font-family: "Georgia Pro";
}
.box1 {
  width: 325px;
  height: 240px;
  background-color: white;
  border: 2px solid #8b4612;
  display: inline-block;
  align-items: center;
  border-radius: 12px;
  padding: 32px 32px 32px 32px;
  margin: 50px 50px 50px 50px;
}

.box2 {
  width: 325px;
  height: 100%;
  background-color: white;
  border: 2px solid #8b4612;
  box-sizing: border-box;
  display: inline-block;
  align-items: center;
  border-radius: 12px;
  padding: 32px 32px 32px 32px;
  margin: 50px 50px 50px 50px;
}

.box3 {
  width: 325px;
  height: 240px;
  background-color: white;
  border: 2px solid #8b4612;
  display: inline-block;
  align-items: center;
  border-radius: 12px;
  padding: 32px 32px 32px 32px;
  margin: 50px 50px 50px 50px;
}

.box4 {
  width: 325px;
  height: 100%;
  background-color: white;
  border: 2px solid #8b4612;
  box-sizing: border-box;
  display: inline-block;
  align-items: center;
  border-radius: 12px;
  padding: 32px 32px 32px 32px;
  margin: 50px 50px 50px 50px;
}

p {
  text-align: center;
  font-size: 28px;
  font-family: "Helvetica Neue";
}
