.Main-container {
  background-color: var(--secondary);
}

.menu-container-color {
  background-color: var(--secondary);
}
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: var(--spacing-0) auto;
  padding: var(--spacing-64) var(--spacing-72);
  gap: var(--spacing-16);
  @media (max-width: 768px) {
    padding: var(--spacing-48) var(--spacing-20);
  }
  @media (max-width: 449px) {
    padding: var(--spacing-40) var(--spacing-20);
  }
}
.p-container {
  display: flex;
  flex-direction: column;
  max-width: 610px;
  width: 610px;
  align-items: center;
  gap: var(--spacing-16);
  @media (max-width: 449px) {
    max-width: 353px;
    width: 100%;
  }
}
h1 {
  color: var(--brownlight);
  font-family: "Georgia Pro";
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  margin: 0;
  @media (max-width: 768px) {
    font-size: var(--font-size-40);
    line-height: var(--line-height-48);
  }
  @media (max-width: 449px) {
    font-size: var(--font-size-32);
    line-height: var(--line-height-40);
  }
}
.menu-text {
  color: var(--grey);
  margin: var(--spacing-0);
  font-family: "Helvetica Neue";
  font-size: var(--font-size-20);
  line-height: var(--line-height-28);
  font-weight: var(--font-weight-500);
  text-align: center;
  @media (max-width: 768px) {
    font-size: var(--font-size-18);
    line-height: var(--line-height-26);
  }
  @media (max-width: 449px) {
    font-size: var(--font-size-18);
    line-height: var(--line-height-26);
  }
}
.contact-form {
  background-color: var(--information);
  padding: var(--spacing-64) var(--spacing-72) var(--spacing-0);
  @media (max-width: 768px) {
    padding: var(--spacing-48) var(--spacing-20) var(--spacing-0);
  }
  @media (max-width: 449px) {
    padding: var(--spacing-40) var(--spacing-20) var(--spacing-0);
  }
}
.fieldset-container {
  display: block;
  max-width: 1024px;
  width: 100%;
  margin: var(--spacing-0) auto;
}
.fieldset1 {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--yellow-grey);
  border-radius: 12px;
  gap: var(--spacing-16);
  margin-bottom: var(--spacing-20);
  padding: var(--spacing-40) var(--spacing-24);
  background-color: var(--white);
}
.fieldset2 {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--yellow-grey);
  border-radius: 12px;
  gap: var(--spacing-16);
  margin-bottom: var(--spacing-20);
  padding: var(--spacing-40) var(--spacing-24);
  background-color: var(--white);
}
legend {
  font-family: "Georgia Pro";
  color: var(--brownlight);
  font-size: var(--font-size-24);
  line-height: var(--line-height-32);
  font-weight: 700;
  @media (max-width: 768px) {
    font-size: var(--font-size-22);
    line-height: var(--line-height-30);
  }
  @media (max-width: 449px) {
    font-size: var(--font-size-20);
    line-height: var(--line-height-28);
  }
}
label {
  color: var(--brownlight);
  font-family: "Helvetica Neue", sans-serif;
  font-size: var(--font-size-16);
  line-height: var(--line-height-24);
  font-weight: var(--font-weight-700);
}
.input-box {
  border: 2px solid var(--yellow-grey);
  border-radius: 4px;
  padding: var(--spacing-12) var(--spacing-16);
  font-family: "Helvetica Neue", sans-serif;
  font-size: var(--font-size-14);
  line-height: var(--line-height-22);
  color: var(--black);
  background-color: var(--white);
  outline: none;
  &:focus {
    border: 2px solid var(--yellow-grey);
  }
  &:focus-visible {
    border: 2px solid var(--yellow-grey);
  }
}
.checkbox-input {
  font-family: "Helvetica Neue", sans-serif;
  font-size: var(--font-size-16);
  line-height: var(--line-height-24);
  color: var(--black);
  font-weight: var(--font-weight-500);
}
.select-text {
  color: var(--black);
  font-family: "Helvetica Neue", sans-serif;
  font-size: var(--font-size-16);
  line-height: var(--line-height-24);
  font-weight: var(--font-weight-500);
}
.button-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-16);
}

.submit-button {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 50px;
  padding: var(--spacing-12) var(--spacing-28);
  font-family: "Helvetica Neue", sans-serif;
  font-size: var(--font-size-16);
  line-height: var(--line-height-24);
  font-weight: var(--font-weight-500);
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
  &:hover {
    background-color: var(--brown-dark);
    transform: scale(1.1);
  }
}
.clear-button {
  background-color: var(--light-brown);
  color: var(--black);
  border: none;
  border-radius: 50px;
  padding: var(--spacing-12) var(--spacing-28);
  font-family: "Helvetica Neue", sans-serif;
  font-size: var(--font-size-16);
  line-height: var(--line-height-24);
  font-weight: var(--font-weight-500);
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
  &:hover {
    background-color: var(--brown-dark);
    transform: scale(1.1);
  }
}

.loader {
  border: 4px solid var(--yellow-grey);
  border-radius: 50%;
  border-top: 4px solid var(--primary);
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  align-items: center;
  justify-content: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.information-color {
  background-color: var(--information);
}
.Business-container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  padding: 64px 20px 0;
  margin: 0 auto;
  gap: 24px;
  @media (max-width: 768px) {
    padding: 48px 20px 0;
  }
  @media (max-width: 449px) {
    padding: 40px 20px 0;
  }
}
.why-dine-with-section-title {
  font-family: "Georgia Pro";
  color: var(--brownlight);
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-color: var(--mustedyellow);
  font-size: var(--font-size-32);
  line-height: var(--line-height-40);
  max-width: 1024px;
  margin: 0 auto;
  @media (max-width: 768px) {
    font-size: var(--font-size-28);
    line-height: var(--line-height-36);
  }
  @media (max-width: 449px) {
    font-size: var(--font-size-24);
    line-height: var(--line-height-32);
  }
}
.content-container {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-24) var(--spacing-0) var(--spacing-0);
  gap: var(--spacing-16);
}

.hours-item {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-0);
  padding-bottom: var(--spacing-16);
  gap: var(--spacing-8);
  border-bottom: 1px solid var(--yellow-grey);
}
strong {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: var(--font-weight-700);
  color: var(--brownlight);
  font-size: var(--font-size-16);
  line-height: var(--line-height-24);
}
.p-text {
  color: #777777;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);
  line-height: var(--line-height-24);
}
.map-container {
  background-color: var(--information);
  padding: var(--spacing-64) var(--spacing-20);
  @media (max-width: 768px) {
    padding: var(--spacing-48) var(--spacing-20);
  }
}

.iframe-my {
  display: block;
  max-width: 1024px;
  width: 100%;
  border: 2px solid var(--yellow-grey);
  border-radius: 12px;
  margin: var(--spacing-24) auto var(--spacing-0);
}
p {
  margin: var(--spacing-0);
}
