.menu-content {
  background-color: var(--cream);
  padding: var(--spacing-0) var(--spacing-20);
}

.menu-container-color {
  background-color: var(--secondary);
  margin: var(--spacing-0);
  padding: var(--spacing-0);
}
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: var(--spacing-0) auto;
  padding: var(--spacing-40) var(--spacing-20);
  gap: var(--spacing-16);
  @media (min-width: 450px) {
    padding: var(--spacing-48) var(--spacing-20);
  }
  @media (min-width: 769px) {
    padding: var(--spacing-64) var(--spacing-72);
  }
}
.p-container {
  display: flex;
  flex-direction: column;
  max-width: 610px;
  width: 100%;
  align-items: center;
  gap: var(--spacing-16);
}
h1 {
  color: var(--brownlight);
  font-family: "Georgia Pro";
  font-size: var(--font-size-32);
  line-height: var(--line-height-40);
  margin: var(--spacing-0);
  @media (min-width: 450px) {
    font-size: var(--font-size-40);
    line-height: var(--line-height-48);
  }
  @media (min-width: 769px) {
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
  }
}
.menu-text {
  color: var(--grey);
  margin: var(--spacing-0);
  font-family: "Helvetica Neue";
  font-size: var(--font-size-18);
  line-height: var(--line-height-26);
  text-align: center;
  @media (min-width: 769px) {
    font-size: var(--font-size-20);
    line-height: var(--line-height-28);
  }
}

.table-background {
  background-color: var(--cream);
}
.table-container {
  padding: var(--spacing-40) var(--spacing-0) var(--spacing-0);
  @media (min-width: 769px) {
    padding: var(--spacing-64) var(--spacing-0) var(--spacing-0);
  }
}
.menu-table-container {
  width: 100%;
  max-width: 1024px;
  margin: var(--spacing-20) -20px var(--spacing-0);
  padding: var(--spacing-0) var(--spacing-20);
  overflow-x: auto;
  scrollbar-width: none;
  @media (min-width: 769px) {
    margin: var(--spacing-24) auto var(--spacing-0);
    padding: var(--spacing-0);
  }
}

.table-title {
  font-family: "Georgia Pro";
  color: var(--brownlight);
  font-size: var(--font-size-24=);
  line-height: var(--line-height-32);
  max-width: 1024px;
  margin: var(--spacing-0) auto;

  @media (min-width: 450px) {
    font-size: var(--font-size-32);
    line-height: var(--line-height-40);
  }
  @media (min-width: 769px) {
    font-size: var(--font-size-28);
    line-height: var(--line-height-36);
  }
}
.menu-table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
}
.header-row th {
  background-color: var(--brownlight);
  color: var(--white);
  font-family: "Helvetica Neue", sans-serif;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-16);
  line-height: var(--line-height-24);
  min-width: 150px;
  padding: var(--spacing-12) var(--spacing-18);
  text-transform: uppercase;
  text-align: left;
  @media (min-width: 769px) {
    min-width: unset;
  }
  &:nth-child(2) {
    min-width: 258px;
  }
}
.menu-item {
  background-color: var(--secondary);
  height: 40px;
  color: #000000;
  font-family: "Helvetica Neue", sans-serif;
  font-size: var(--font-size-16);
  line-height: var(--line-height-24);
  border-bottom: 1px solid #ebe1d5;
  transition: background-color 0.2s ease;
  &:hover {
    background-color: var(--yellowcream);
  }
  td {
    padding: var(--spacing-12) var(--spacing-18);
  }
  &:last-child {
    border-bottom: none;
  }
}

.sub-menu-item {
  background-color: var(--white);
}

.menu-type {
  font-family: "Helvetica Neue", sans-serif;
  font-size: var(--font-size-16);
  line-height: var(--line-height-24);
}

.sub-menu-veg {
  color: var(--green);
}
.sub-menu-non-veg {
  color: var(--red);
}
.menu-image-container {
  max-width: 1440px;
  margin: var(--spacing-0) auto;
  padding: var(--spacing-64) 0;
}
.menu-image {
  max-width: 700px;
  width: 100%;
  height: auto;
  margin: var(--spacing-0) auto;
  display: block;
  border-radius: 5px;
  object-fit: cover;
  transition: filter 0.3s ease-in-out;
  filter: grayscale();
  &:hover {
    filter: brightness(1.1);
  }
}
.rupee {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: var(--font-size-16);
  line-height: var(--line-height-24);
  color: var(--brownlight);
}
.first-column {
  white-space: nowrap;
}
